<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header class="main-header">
    <img class="logo-esteso" src="/images/logo_esteso-2.png" alt="Descrizione dell'immagine">
    <nav class="main-menu">
      <a href="/" class="header-menu-text">Home</a>
      <a href="/ControNews" class="header-menu-text">ControNews</a>
      <a href="/ControMercato" class="header-menu-text">ControMercato</a>
      <a href="/ControFanta" class="header-menu-text">ControFanta</a>
      <a href="/Chi-Siamo" class="header-menu-text" style="margin-right: 0;">Chi Siamo</a>
    </nav>
</header>

<script src="/js/headerMenu.js"></script>