<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <script src="/js/headerMenu.js"></script>
  <!-- <h1><%= message %></h1> -->
  <%- include('partials/headerMenu') %>
  <h1>Theo è il più bello</h1>
  
  
</body>
</html>
